<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Certificate</title>
  <link rel="stylesheet" href="../static/css/styles.css">

  <!-- Favicons -->
  <link href="static/images/favicon.png" rel="icon">
  <link href="static/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- social media-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    {% include 'header.html' %}
    <h1>Verify a Certificate</h1>
  </div>
  <div class="certify-page-background">
    <div class="certify-form-container">
      <h1 class="certify-form-title">CertifyCDNO</h1>
      <h2 class="certify-form-subtitle">Enter your certificate hash</h2>
      <!--<form method="post" id="verifyForm" class="certify-form" action="{{ url_for('verify') }}">-->
      <form id="verifyForm" class="certify-form" >
        <button type="button" id="connectWallet" class="btn btn-primary">Connect Nami Wallet</button>
        <input type="text" id="secret" name="secret" required class="certify-input" placeholder="CERTIFICATE HASH">
        <button type="submit" id="submitTx" class="certify-submit-btn" disabled>SUBMIT</button>
      </form>
    </div>
  </div>
  <div id="result"></div>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  {% include 'footer.html' %}
</body>
</html>