<footer>
        <div class="footer-content">
            <div class="footer-logo">
                <div class="logo-icon">
                    <img src="static/images/favicon.png" alt="CertifyCDNO logo">
                </div>
                <span>CertifyCDNO</span>
            </div>
            <div class="footer-links">
                <div class="quick-links">
                    <h3>Quick Link</h3>
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="resources">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="#">Download Documentation</a></li>
                        <li><a href="#">Contribute to code</a></li>
                        <li><a href="https://preview.cexplorer.io/">Blockchain Explorer</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy;2024 CertifyCDNO. All rights reserved</p>
            <div class="social-icons">
                <a href="https://www.youtube.com/channel/UCDZElH8jZwmcBcaaKME4SEw" class="icon-youtube"><i class="fa fa-youtube"></i></a>
                <a href="https://x.com/CertifyCDNO" class="icon-twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://t.me/+2PQ2c7i3YZpmZDdk" class="icon-telegram"><i class="fa fa-telegram"></i></a>
            </div>
        </div>
    </footer>