<header>
    <a href="{{ url_for('home') }}" class="logo-link">
        <div class="logo">
            <div class="logo-icon">
                <img src="static/images/favicon.png" alt="CertifyCDNO logo">
            </div>
            <span>CertifyCDNO</span>
        </div>
    </a>
    <nav>
        <a href="https://docs.google.com/document/d/1W0maJtXVBdUpk6VqPPCSA7vNTCwxhhu09kzH_3W803o/edit?usp=sharing">Documentation</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="https://t.me/+2PQ2c7i3YZpmZDdk">Contact</a>
    </nav>
    </header>